Input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-group {
    width: "50%";
    margin-left: 25%;
    margin-right: 25%;
    display: "flex";
    flex-direction: "column";
    justify-content: "center";
    align-items: "center";
}
input {
    display: "flex";
    justify-content: "center";
    align-items: "center";
}
button ::before {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    margin-bottom: 100px;
}
.form-control::placeholder {
    color: #972020 ;
}